.header-anchor {
  visibility: hidden;
  display: inline-block;
  width: 20px;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor
{
  visibility: visible;
}

body {
  background: lightgray;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

section {
  width: 800px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.diagram {
  text-align: center;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.content > * {
  margin-left: 30px;
}

.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5
{
  margin-left: 0;
}

svg {
  background: white;
}

svg .graph > text {
  text-decoration: underline;
}

svg .edge > text {
  font-size: x-small;
}
